html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
 ul {
	list-style:auto;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    margin:0;
	padding:0;
    font-family:  Times New Roman;
	font-size:14px;
	color:black;
}

#wrapper{
	width: 700px;
	margin: 10px auto;
	border: solid 2px black;
	height: 960px;
	page-break-after:always;
}

#wrappers{
	width: 700px;
	margin: 10px auto;
	padding: 0 5px;
	border: solid 2px black;
	height: 980px;
	overflow: auto;
}

#republic_line{
border-bottom:solid 2px black;
width:200px;
height:20px;
color:white;
margin:10px auto;
}

#maincontent{
	width: 694px;
	height: 954px;
	margin: 2px;
	overflow: auto;
	border: solid thin black;
}
#header{
	width: 100%;
	float: left;
	height: 240px;

}

#headers{
	width: 100%;
	float: left;
	height: 170px;
}

#thisheader{
	width: 130px;
	margin: 20px auto;
	text-align: center;
	min-height: 50px;
	overflow: auto;
}

#thisheader img{
	width: 130px;
}

#form{
	width: 300px;
	float: left;
	height: 30px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-family:Arial Narrow;
	font-weight: bold;
}

.top{
	margin-top:-50px;
	font-family:Times New Roman;
}

#thistop{
	float: right;
	width: 300px;
	margin-top: -30px;
	margin-right: 20px;
}

#republic{
	width: 100%;
	min-height: 30px;
	float: left;
}

#republics{
	width: 100%;
	min-height: 30px;
	float: left;
}


#republic h2{
	text-align: center;
	padding: 0;
	margin: 10px 0;
	font-size: 20px;
	font-family:Times New Roman;
}

#republic hr{
	color: red;
	width: 150px;
	margin:10px auto;
}

#republic h1{
	text-align: center;
	margin: 20px 0;padding: 0;
	color: black;
	font-size: 25px;
	font-weight: bolder;
	font-family:Tahoma;
}

#republics h2{
	text-align: center;
	padding: 0;
	margin: 5px 0;
	font-size: 20px;
	font-family:Times New Roman;
}

#republics hr{
	color: red;
	width: 150px;
	margin:5px auto;
}

#republics h1{
	text-align: center;
	margin: 10px 0;padding: 0;
	color: black;
	font-weight: bolder;
	font-size: 25px;
	font-family:Times New Roman;
}

#republic div{
	text-align: center;
	margin: 0px auto;
	line-height: 30px;
	font-style: italic;
}

#republics div{
	text-align: center;
	margin: 0px auto;
	line-height: 25px;
	font-style: italic;
	font-weight: bolder;
	font-size: 15px;
}

#republic p{
	padding: 0px 10px;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0px;
	font-family:Times New Roman;
	text-align: justify;
}

#wrappers ol{
	margin: 0;
	font-weight:bold;
}

#wrappers ol li{
	margin:0px 0;padding: 0;
	border: solid thin white;
	line-height: 20px;
	float: left;
	min-width: 98%;
}

#wrappers ol li #republics{
	margin: 0;padding: 0;
	font-size:10px;
}

#wrappers ol li #republicss{
	margin: 0;padding: 0;
	height: 160px;
	font-weight:bold;
	font-size:10px;
	margin-top: 0px;
}

#wrappers ol li #republicss b{
	text-transform:uppercase;
	float: left;
	text-align: left;
}

#wrappers ol li #republics p{
	margin: 0; padding: 0;
	padding-right: 50px;
	font-size:16px;
}

#republics p{
	padding: 0px 0px;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0px;
	font-weight: bold;
	float: left;
	text-align: justify;
}
#wrappers  p #place{
	
	font-size: 10px;
	
}
#bankers{
    font-size: 10px;
}

#republic .capital strong{
	//font-family:;
}

#republic .capital{
	text-transform: uppercase;
}

#republic p strong{
	font-weight: bold;
	font-family:Arial Narrow;
}

#republic .boldspace{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	width: 150px;
	font-family:Arial Narrow;
	border-bottom: dotted thin black;
}

#republics .boldspace{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	width: 100px;
	font-family:Arial Narrow;
	border-bottom: dotted thin black;
}

#republics .boldspacer{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	width: 130px;
	font-family:Arial Narrow;
	border-bottom: dotted thin black;
}

#republics .boldspacers{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	width: 200px;
	font-family:Arial Narrow;
	border-bottom: dotted thin black;
}

#republic .thisboldspace{
	display: inline-block;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	width: 80px;
	font-family:Arial Narrow;
}

#republic .boldspaces{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	width: 250px;
	font-family:Arial Narrow;
	border-bottom: dotted thin black;
}

#republics .boldspaces{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	width: 180px;
	font-family:Arial Narrow;
	border-bottom: dotted thin black;
}

#republics b{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	min-width: 100px;
	margin-left: 20px;
	font-family:Arial Narrow;
	border-bottom: dotted thin black;
}


#republicss b{
	text-align: center;
	font-weight: bold;
	font-size:10px;
	min-width: 100px;
	font-family:Arial Narrow;
	margin-left: 20px;
	border-bottom: dotted thin black;
}
.titles{
	float: left;
	margin: 0;padding: 0;
}

#republicss div{
	text-align: center;
	font-weight: bold;
	font-size:10px;
	margin-top: 0;
	float: left;
	font-family:Arial Narrow;
}

#republic .boldspacess{
	display: inline-block;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	width: 300px;
	font-family:Arial Narrow;
	border-bottom: dotted thin black;
}

#republics .boldspacess{
	display: inline-block;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	min-width: 300px;
	border-bottom: dotted thin black;
}

#republic .signtitles{
	display: inline-block;
	float: right;
	width: 300px;
	height: 60px;
	font-family:Times New Roman;
	border-bottom: dotted thin black;
	margin-right: 40px;
	margin-top: 0px;
}

#republic .signtitle{
	display: inline-block;
	float: right;
	width: 600px;
	font-style: italic;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	text-align: right;
	font-size: 18px;
	padding-right: 10px;
	margin-right: 40px;
}

#republic .notice{
	line-height: 25px;
	margin-bottom: 30px;
}

#republics .signtitles{
	display: inline-block;
	float: right;
	width: 300px;
	height: 60px;
	border-bottom: dotted thin black;
	margin-right: 40px;
}

#republics .signtitle{
	display: inline-block;
	float: right;
	width: 320px;
	font-style: italic;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	font-size: 20px;
	margin-right: 40px;
}

#republics #notice-left{
	width: 200px;
	float: left;
	min-height: 50px;
	text-transform:uppercase;
	margin-top: 20px;
}

#republics #notice-right{
	width: 400px;
	float: right;
	min-height: 50px;
}