<<<<<<< HEAD
<span style='color: #900'>8,192 KB</span>    <span style='color: #090'>1,722.7089 ms</span><br />
=======
<span style='color: #900'>10,496 KB</span>    <span style='color: #090'>2,261.1289 ms</span><br />
>>>>>>> b51fa522521b888b8c1be991c2f02f6b8453bd51
